dash==2.14.2
dash-bootstrap-components
dash-core-components      
dash-html-components     
dash-iconify             
dash-mantine-components  
dash_renderer             
dash-table                
dash-tools
Gunicorn