* {
    box-sizing: border-box;
}

@font-face {
    font-family: Sahel;
    src: url('Sahel-FD-WOL.eot');
    src: url('Sahel.eot?#iefix') format('embedded-opentype'),
       url('Sahel.woff2') format('woff2'),
       url('Sahel.woff') format('woff'),
       url('Sahel.ttf') format('truetype');
    font-weight: normal;
}
body {
    direction: rtl;
    font-family: Sahel;
}
.footer-position {
    position: relative;
    top: 79px;

}

@media only screen and (max-width: 2500px) {
    body {
      font-family: Sahel, sans-serif !important;
    }
  }

@media (max-width: 576px) {
    .element {
      display: none;
    }
    .mobile-footer {
        position: relative;
        top: 205px;
    }
    .mobile-list-icon {
        padding-right: 124px;
    }
  }

  @media only screen and (min-width: 992px) {
    .footer-big-screen {
        position: relative;
        top: 205px;
    }
}

.vislink {
    text-decoration:double;
    /*padding-right: 62px;*/
    color: #fff;
}
.vislink:hover {
    text-decoration: none;
    /*padding-right: 62px;*/
    filter: blur(3px);
    
}
.whole-card {
    border: 2px solid #00a693; 
    border-radius: 5px;
    text-align: center; 
    margin-top: 40px; 
    background-color: #fff;
}
.whole-card:hover {
    /*filter:drop-shadow(5px 5px red)*/
    background-color: #00a693;
}
