* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

P {
    font-family: 'Sahel' !important;
}
@font-face {
    font-family: 'Sahel';
    src: url('Sahel-FD-WOL.eot');
    src: url('Sahel.eot?#iefix') format('embedded-opentype'),
       url('Sahel.woff2') format('woff2'),
       url('Sahel.woff') format('woff'),
       url('Sahel.ttf') format('truetype');
    font-weight: normal;
}
body {
    direction: rtl;
    font-family: 'Sahel' !important;
}

@media only screen and (max-width: 2500px) {
    body {
      font-family: 'Sahel', sans-serif !important;
    }
  }

@media (max-width: 576px) {
    .element {
      display: none;
    }
    .mobile-footer {
        position: relative;
        top: 205px;
    }
    .mobile-list-icon {
        padding-right: 124px;
    }
    .navbar-collapse {
        padding-right: 17px;
    }
    .result-overflow {
        max-height: 60vh;
    }
    .browse-overflow {
        max-height: 60vh;
    }
    .vabo {
        max-height: 60vh !important;
    }
    .hide-on-mobile {
        display: none;
    }
  }

  @media only screen and (min-width: 992px) {
    .footer-big-screen {
        position: relative;
        top: 205px;
    }
}

.vislink {
    text-decoration:double;
    /*padding-right: 62px;*/
    color: #fff;
}
.vislink:hover {
    text-decoration: none;
    /*padding-right: 62px;*/
    filter: blur(3px);
    
}
.whole-card {
    border: 2px solid #00a693; 
    border-radius: 5px;
    text-align: center; 
    margin-top: 40px; 
    background-color: #fff;
}
.whole-card:hover {
    /*filter:drop-shadow(5px 5px red)*/
    background-color: #00a693;
}

.main-page-services {
    font-size: large;
    text-decoration: none;
    color: black;
    transform: scale(0.9);
}

.main-page-services:hover {
    transform: scale(1);
    text-decoration: none;
}

#persian-green {
    color: #008f7e;
}

#persian-black {
    color: #000000;
}
#bg-persian-green {
    background-color: #008f7e;
}
.border-less {
    border: none;
}
.margin-top-six {
    margin-top: 6px;
}
.gpt-intro {
    text-align: justify;
    color: #008f7e;
    font-size: 13px;
    font-weight: lighter;
    line-height: 30px;
    margin-top: 35px;
}
#gpt-intro-holder {
    margin-right: 15px;
}
.footer {
    position: fixed;
    bottom: 0;
}
.result-overflow {
    max-height: 62vh; /* Set max-height to 80% of viewport height */
    overflow-y: auto; /* Add vertical scrollbar if content overflows */
}
.browse-overflow {
    max-height: 82vh;
    overflow-y: auto;
}
.vabo {
    max-height: 77vh !important;
    overflow-y: auto !important;
}
.main-footer {
    position: fixed;
    bottom: 0;
}

.result-overflow::-webkit-scrollbar {
    display: none;
}
.browse-overflow::-webkit-scrollbar {
    display: none;
}
.vabo::-webkit-scrollbar {
    display: none;
}
